
			<nav class="c-categories">
				<ul>
					<li class="current">
						<a href="portfolio-projekt.html">Wszystko</a>
					</li>
					
					<li>
						<a href="portfolio-projekt.html">Logo/Branding</a>
					</li>
					
					<li>
						<a href="portfolio-projekt.html">Marketing</a>
					</li>
					
					<li>
						<a href="portfolio-projekt.html">Social media</a>
					</li>
					
					<li>
						<a href="portfolio-projekt.html">Psychologia</a>
					</li>
					
					<li>
						<a href="portfolio-projekt.html">Case studies</a>
					</li>
				</ul>
			</nav>
