
	<div class="o-section o-section--padding o-section--triangle bg-primary">
		<div class="o-wrap">

			<div class="c-contactform">
				<header class="o-header">
					<h2 class="o-lead--2">
						<strong>Formularz kontaktowy</strong>
					</h2>
				</header>
				
				<form action="#">
					<div class="o-cols o-cols--2">
						<div class="o-cols__item">
							<div class="form-row">
								<input type="text" placeholder="Imię i nazwisko...">
							</div>
							
							<div class="form-row">
								<input type="text" placeholder="Adres e-mail">
							</div>
							
							<div class="form-row">
								<input type="text" placeholder="Firma...">
							</div>
							
							<div class="form-row">
								<input type="text" placeholder="Imię i nazwisko...">
							</div>
						</div>
						
						<div class="o-cols__item">
							<div class="form-row">
								<textarea placeholder="Treść wiadomości"></textarea>
							</div>
							
							<div class="form-row">
								<button type="submit" class="o-btn o-btn--triangle">
									<span>Wyślij</span>
								</button>
							</div>
						</div>
					</div>
	
				</form>
			</div>
			
			
		</div>
	</div>
