
	<div class="c-contactphoto anim anim--up">
		<div class="o-section o-section--padding">
			<div class="o-wrap">
				
				<div class="o-cols o-cols--2">
					<div class="o-cols__item">
						
						<article class="o-article o-article--big o-article--padding">
							<h2>
								<strong>Chcesz przejść na wyższy poziom marketingu?
	Skontaktuj się.</strong>
							</h2>
							
							<div class="o-lead--2"><strong class="u-highlight"><span>Daniel Smoleń</span></strong></div>
							
							<div class="o-lead--2">
								<a href="mailto:kontakt@fallowdeer.pl">kontakt@fallowdeer.pl</a>
							</div>
							
							<div class="o-lead--2">
								<a href="tel:0048516147796">516 147 796</a>
							</div>
							
						</article>
					</div>
					
					<div class="o-cols__item">
						<div class="c-contactphoto__img">
							<img src=<%= require("./img/photos/users/daniel-smolen-01.png") %> alt="daniel smolen" width="483" height="701">
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
