
	<footer class="c-footer">
		<div class="o-section o-section--padding-half bg-black">
			<div class="o-wrap">
				
				<div class="o-cols o-cols--2">
					<div class="o-cols__item">						
						<a href="#" class="o-logo">
							<img src=<%= require("./img/logos/fallowdeer--white.svg") %> alt="Fallow Deer" width="168" height=""73>
						</a>
						
						<p>&copy; Fallow Deer. 2019. Made in Gliwice with love to design.</p>
					</div>
					
					<div class="o-cols__item">
						<% include social %>
						
						<p>
							<a href="tel:0048516147796">516 147 796</a>
						</p>
						
						<p>
							<a href="mailto:kontakt@fallowdeer.pl">kontakt@fallowdeer.pl</a>
						</p>
					</div>
				</div>
				
				<a href="#welcome" class="c-footer__gotop icon-arrow-down js-gotop"></a>
				
			</div>
		</div>
	</footer>
