
	<div class="c-instagram anim anim--up">
		<div class="o-section o-section--padding-half bg-gray">
				
			<div class="o-header">
				<h2 class="o-lead--2">
					<strong>Instagram</strong>
				</h2>
			</div>
			
			<div class="c-instagram__carousel">
				<div class="glide" id="instagramCarousel">
					<div class="glide__track" data-glide-el="track">
						<div class="glide__slides">

							<a href="#" class="glide__slide">
								<img src=<%= require("./img/photos/instagram/01.jpg") %> alt="" width="208" height="208">
							</a>

							<a href="#" class="glide__slide">
								<img src=<%= require("./img/photos/instagram/02.jpg") %> alt="" width="208" height="208">
							</a>
						
							<a href="#" class="glide__slide">
								<img src=<%= require("./img/photos/instagram/03.jpg") %> alt="" width="208" height="208">
							</a>
							
							<a href="#" class="glide__slide">
								<img src=<%= require("./img/photos/instagram/04.jpg") %> alt="" width="208" height="208">
							</a>
						</div>
					</div>
				</div>
			</div>			
				
		</div>
	</div>
