
	<div class="c-nav bg-gray js-nav">
		<div class="o-wrap js-menu">			
			<div class="o-cols o-cols--2 o-cols--withsygnet">
				<div class="o-cols__item">
				
					<ul class="c-nav__menu">
						<li class="current-menu-item">
							<a href="index.html">Główna</a>
						</li>
						
						<li>
							<a href="onas.html">O nas</a>
						</li>
						
						<li>
							<a href="portfolio.html">Portfolio</a>
						</li>
						
						<li>
							<a href="oferta.html">Oferta</a>
						</li>
						
						<li>
							<a href="blog.html">Blog</a>
						</li>
						
						<li>
							<a href="kontakt.html">Kontakt</a>
						</li>
					</ul>
					
					<% include social %>
				</div>
				
				<div class="o-cols__item">
					<div class="o-sygnet"></div>
				</div>
			</div>
		</div>
	</div>
