
	<div class="c-opinions anim anim--up">
		<div class="o-section o-section--padding-half bg-black">
			<div class="o-wrap">
				
				<div class="o-header">
					<h2 class="o-lead--2">
						<strong>Opinie</strong>
					</h2>
				</div>
				
				<div class="c-opinions__carousel">
					<div class="glide" id="opinionsCarousel">
						<div class="glide__track" data-glide-el="track">
							<div class="glide__slides">
								
								<div class="glide__slide">
									
									<div class="avatar">
										<img src=<%= require("./img/assets/avatar.png") %> alt="" width="220" height="220">
									</div>
									
									<blockquote>
										<section class="author">
											<p>Stanisław Bejm, </p>
											<p>„Misja Robotyka”</p>
										</section>
							
										<section class="opinion">
											<p>Polecam agencję Fallow Deer, współpracowaliśmy z różnymi agencjami ale Fallow Deer jako pierwsi dopasowali się do naszej dotychczasowej identyfikacji wizualnej, poczuli ją i wdrożyli w nowe projekty.</p>
										</section>
									</blockquote>
								</div>
							</div>
						</div>
						
						<div class="glide__arrows" data-glide-el="controls">
							<button class="glide__arrow glide__arrow--left icon-arrow-right" data-glide-dir="<"></button>
							<button class="glide__arrow glide__arrow--right icon-arrow-right" data-glide-dir=">"></button>
						</div>
					</div>
				</div>
				
				
				
			</div>
		</div>
	</div>
