
		<div class="c-portfolio__thumbs anim anim--up">
			<ul>
				<li class="anim anim--delay1 anim--up">
					<% include portfolio__item-1 %>
				</li>
				
				<li class="anim anim--delay2 anim--up">
					<% include portfolio__item-2 %>
				</li>
				
				<li class="anim anim--delay3 anim--up">
					<% include portfolio__item-3 %>
				</li>
				
				<li class="anim anim--delay1 anim--up">
					<% include portfolio__item-1 %>
				</li>
				
				<li class="anim anim--delay2 anim--up">
					<% include portfolio__item-2 %>
				</li>
				
				<li class="anim anim--delay3 anim--up">
					<% include portfolio__item-3 %>
				</li>
				
				<li class="anim anim--delay1 anim--up">
					<% include portfolio__item-1 %>
				</li>
				
				<li class="anim anim--delay2 anim--up">
					<% include portfolio__item-2 %>
				</li>
				
				<li class="anim anim--delay3 anim--up">
					<% include portfolio__item-3 %>
				</li>
				
				<li class="anim anim--delay1 anim--up">
					<% include portfolio__item-1 %>
				</li>
				
				<li class="anim anim--delay2 anim--up">
					<% include portfolio__item-2 %>
				</li>
				
				<li class="anim anim--delay3 anim--up">
					<% include portfolio__item-3 %>
				</li>
			</ul>
