
						<a href="portfolio-projekt.html" class="c-portfolio__item">
							<img src=<%= require("./img/photos/portfolio/03.jpg") %> alt="" width="458" height="458">
							
							<div class="o-details">
								<h3 class="o-lead o-lead--2">
									<strong>Stara Wieś Resort &amp;&nbsp;Odnowa</strong>
								</h3>
								
								<ul class="o-details__list">
									<li>Identyfikacja wizualna</li>
									<li>Projekt www</li>
									<li>Film promocyjny</li>
									<li>Materiały reklamowe</li>
								</ul>
													
								<p class="o-details__btn">
									<span class="o-btn o-btn--blackoutline">Zobacz</span>
								</p>
							</div>
						</a>
