
	<div class="c-whatyouneed anim anim--up">
		<div class="o-section o-section--padding bg-gray">
			<div class="o-wrap">
				
				<div class="o-header">
					<h2 class="o-lead--2">
						<strong>Czego potrzebujesz?</strong>
					</h2>
				</div>

				<article class="o-article text-center">
					<p>To dobry moment by się do nas odezwać.</p>
					
					<p>
						<a href="mailto:kontakt@fallowdeer.pl">kontakt@fallowdeer.pl</a>
					</p>
					
					<p>
						<a href="tel:0048516147796">516 147 796</a>
					</p>
				</article>
				
			</div>
		</div>
	</div>
