	
	<div class="c-header c-header--project">	
		<% include ../back %>
	
		<div class="o-wrap">			
			<div class="o-cols o-cols--2">
				<div class="o-cols__item">
				
					<div class="o-details">
						<h1 class="o-lead o-lead--2">
							<strong>Stara Wieś Resort &amp;&nbsp;Odnowa</strong>
						</h1>
						
						<ul class="o-details__list">
							<li>Identyfikacja wizualna</li>
							<li>Projekt www</li>
							<li>Film promocyjny</li>
							<li>Materiały reklamowe</li>
						</ul>
					</div>
				</div>
				
				<div class="o-cols__item o-cols__item--photo">
					<div class="c-header__photo" style='background-image: url(<%= require("./img/photos/portfolio-projekt/00.jpg") %>)'></div>
				</div>
			</div>
			
			<a href="#" class="c-header__godown icon-arrow-down js-gonext"></a>
		</div>
	</div>
	