
	<div class="o-section o-section--padding o-section--triangle bg-primary" id="two-cols">
		<div class="o-wrap">
			
			<div class="o-cols o-cols--2">
				<div class="o-cols__item">
					<article class="o-article o-article--big o-article--smallpadding">
					
						<h2>
							<strong>Wyzwanie</strong>
						</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</article>
				</div>
				
				<div class="o-cols__item">
					<article class="o-article o-article--big o-article--smallpadding">
					
						<h2>
							<strong>Realizacja</strong>
						</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</article>
				</div>
			</div>
			
		</div>
	</div>
