
	<div class="o-section o-section--padding-half">
		<div class="o-wrap">
			
			<header class="o-header">
				<h2 class="o-lead--2">
					<strong>Podsumowanie</strong>
				</h2>
			</header>
						
			<article class="o-article o-article--big o-article--columns">
			
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</article>
				
			</div>
			
		</div>
	</div>
