	
	<div class="c-header c-header--post">	
		<% include ../back %>
	
		<div class="o-wrap">			
			<div class="o-cols o-cols--2 o-cols--post">
				<div class="o-cols__item">
				
					<div class="o-details">
						<h1 class="o-lead o-lead--1">
							<strong>Post na blogu, na którym mówimy o designie</strong>
						</h1>
						
						
					</div>
				</div>
				
				<div class="o-cols__item o-cols__item--photo">
					<div class="c-header__photo" style='background-image: url(<%= require("./img/photos/portfolio-projekt/00.jpg") %>)'></div>
				</div>
			</div>
			
			<a href="#" class="c-header__godown icon-arrow-down js-gonext"></a>
		</div>
	</div>
	