html:not(.ie) {
    .anim {
    
        &--delay1 {
            transition-delay: 150ms;
        }
        
        &--delay2 {
            transition-delay: 250ms;
        }
        
        &--delay3 {
            transition-delay: 350ms;
        }
        
        &--delay4 {
            transition-delay: 450ms;
        }

        transition: all 600ms ease-out;
        opacity: 0;
        
        
        
        &--left {
            transform: translate3d(-50px, 0, 0);
        }
        
        &--right {
            transform: translate3d(50px, 0, 0);
        }
        
        &--up {
            transform: translate3d(0, 50px, 0);
        }
        
        &--visible {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }
    }
}

.is-hidden {
    display: none;
}

.u-highlight {
	@extend %highlight;
    
    &:after {
		width: 15px;
    }
}



// Text

.text-center {
    text-align: center;
}

img.aligncenter {
	margin: 0 auto;
}



.u-cover {
    transition: all 500ms ease-out;
    opacity: 1;
    
    .is-loaded & {
        opacity: 0;
    }
}

.u-showoffer {
	padding-top: 40px;
}



// Text & bg colors

.color-primary {
    color: $c-primary;
}

.bg-black {
	background-color: $c-black-02;
	color: $c-gray-01;
}

.bg-blue {
	background-color: $c-blue-01;
}

.bg-gray {
	background-color: $c-gray-01;
}

.bg-green {
	background-color: $c-green-01;
}

.bg-orange {
	background-color: $c-orange-01;
}

.bg-yellow,
.bg-primary {
	background-color: $c-primary;
}

.bg-red {
	background-color: #DD7C7C;
}

.bg-violet {
	background-color: #B291DE;
}

.bg-yellow {
	background-color: $c-primary;
}
