
	<div class="o-section o-section--padding o-section--triangle bg-primary anim anim--up" id="two-cols">
		<div class="o-wrap">
			
			<div class="o-cols o-cols--2">
				<div class="o-cols__item">
					
					<article class="o-article o-article--big o-article--padding">
						<p>Fallow Deer to studio kreatywne specjalizujące się w tworzeniu unikalnych rozwiązań marketingowych
od strategii komunikacji po ich realizację.
Obszarami naszych działań są: identyfikacja wizualna, strony i serwisy internetowe, kampanie internetowe oraz projektowanie materiałów drukowanych.</p>
					</article>
				</div>
				
				<div class="o-cols__item">
					
					<div class="c-video">
						<a href="https://youtu.be/917pnQrog9g" class="c-video__item js-video">
							
						</a>
					</div>

				</div>
			</div>
			
		</div>
	</div>
