	
	<div class="c-header">	
		<% include ../back %>
	
		<div class="o-wrap">			
			<div class="o-cols o-cols--2 o-cols--withsygnet">
				<div class="o-cols__item">
				
					<div class="c-header__title">
						<h1 class="o-lead--1">
							<strong class="u-highlight"><em>Oferta</em></strong>
						</h1>
					</div>
				
				</div>
				
				<div class="o-cols__item">
					<div class="o-sygnet"></div>
				</div>
			</div>
			
			<a href="#" class="c-header__godown icon-arrow-down js-gonext"></a>
		</div>
	</div>
	