.c-whatyouneed {

	p {
		margin-bottom: 1em;
		font-size: rem(24);
	}

	.o-header {
		@media ( max-width: $tablet + px ) {
			text-align: center;
		}
	}

	.o-section {
		&--padding {
			@media ( max-width: $tablet + px ) {
				padding-bottom: 100px;
			}
		}
	}
}
