	
	<div class="c-header c-header--blog">	
		<% include ../back %>
	
		<div class="o-wrap">			
			<header class="o-header">
				<h1 class="o-lead--0">
					<strong>Blog</strong>
				</h1>
			</header>
		</div>
	</div>
	