$c-black-01:   black;
$c-black-02:   #1A1A1A;

$c-blue-01:    #91C7DB;

$c-green-01:   #3CC7B1;

$c-yellow-01:  #DCB232;

$c-gray-01:    #F4F4F4;
$c-gray-02:	   #707070;

$c-orange-01:  #EFA753;

$c-primary:    $c-yellow-01;
