
	<div class="o-section o-section--padding o-section--triangle bg-primary anim anim--up" id="two-cols">
		<div class="o-wrap">
			
			<div class="o-cols o-cols--2">
				<div class="o-cols__item">
					
					<article class="o-article o-article--padding">
						<h2>
							<strong>By się wyróżniać.</strong>
						</h2>
						
						<p>Wykorzystując wiedzę z zakresu psychologii, designu i&nbsp;marketingu robimy wszystko by skutecznie sprzedawać produkty naszych klientów.</p>
					</article>
					
					<div class="c-welcomeoffer__btn">
						<a href="oferta.html" class="o-btn o-btn--blackoutlineoval">Oferta</a>
					</div>
					
				</div>
				
				<div class="o-cols__item">
					
					<article class="o-article o-article--padding">
						<h2>
							<strong>Skutecznie tworzymy:</strong>
						</h2>

						<ul>
							<li>Identyfikacje wizualną</li>
							<li>Zaangażowanie na Facebooku</li>
							<li>Kampanie reklamowe w Google i Facebook Ads</li>
							<li>Fotografię i filmy promocyjne</li>
							<li>Grafikę reklamową</li>
							<li>Ruch z wyszukiwarki Google</li>
						</ul>							
					</article>
				</div>
			</div>
			
		</div>
	</div>
