
	
	<div class="o-section o-section--padding bg-gray anim anim--up">
		<div class="o-wrap">
			
			<div class="o-cols o-cols--2 o-cols--y">
				<div class="o-cols__item">
					
					<article class="o-article o-article--centerblock">
						<h2>
							<strong>Przenosimy</strong><br>
							<strong>Polskie firmy na</strong><br>
							<strong class="u-highlight">wyższy poziom</strong><br>
							<strong class="u-highlight">marketingu</strong>
						</h2>
					</article>
				</div>
				
				<div class="o-cols__item">
					
					<div class="c-video">
						<a href="https://youtu.be/917pnQrog9g" class="c-video__item js-video">
							
						</a>
					</div>
					
				</div>
			</div>
			
		</div>
	</div>
