<% include ./src/includes/head %>

<div class="o-container">

	<% include ./src/includes/hamburger %>
	<% include ./src/includes/nav %>

	<% include ./src/includes/blog/header %>
	
	<div class="c-blog">
		<div class="o-wrap">		
			
			<% include ./src/includes/blog__categories %>
			<% include ./src/includes/blog__posts %>
		</div>	
	</div>
	
	<% include ./src/includes/footer %>

</div>


</body>
</html>


