<% include ./src/includes/head %>

<div class="o-container">

	<% include ./src/includes/hamburger %>
	<% include ./src/includes/nav %>

	<% include ./src/includes/home/header %>
	<% include ./src/includes/home/two-cols %>
	<% include ./src/includes/home/video %>
	<% include ./src/includes/opinions %>
	<% include ./src/includes/instagram %>
	<% include ./src/includes/whatyouneed %>
	<% include ./src/includes/footer %>

</div>


</body>
</html>


