<% include ./src/includes/head %>

<div class="o-container">

	<% include ./src/includes/hamburger %>
	<% include ./src/includes/nav %>

	<% include ./src/includes/portfolio/header %>
	<% include ./src/includes/portfolio/two-cols %>
	
	<div class="c-portfolio">
		<div class="o-section o-section--padding-top">
			<div class="o-wrap">
			
				<header class="o-header">
					<h2 class="o-lead--2">
						<strong >
							<em class="u-highlight">Przykładowe realizacje</em>
						</strong>
					</h2>
				</header>
				
				<nav class="c-categories">
					<ul>
						<li class="current">
							<a href="portfolio-projekt.html">Wszystko</a>
						</li>
						
						<li>
							<a href="portfolio-projekt.html">Logo/Branding</a>
						</li>
						
						<li>
							<a href="portfolio-projekt.html">Marketing</a>
						</li>
						
						<li>
							<a href="portfolio-projekt.html">Film</a>
						</li>
						
						<li>
							<a href="portfolio-projekt.html">Grafika reklamowa</a>
						</li>
						
						<li>
							<a href="portfolio-projekt.html">Materriały drukowane</a>
						</li>
					</ul>
				</nav>
				
			</div>
			
			<% include ./src/includes/portfolio__thumbs %>
		</div>
	</div>
	
	<% include ./src/includes/opinions %>
	<% include ./src/includes/instagram %>
	<% include ./src/includes/whatyouneed %>
	<% include ./src/includes/footer %>

</div>


</body>
</html>


