
	<div class="o-section o-section--padding o-section--triangle bg-primary anim anim--up" id="two-cols">
		<div class="o-wrap">
			
			<div class="o-cols o-cols--2">
				<div class="o-cols__item">
					
					<article class="o-article o-article--big o-article--padding">
						<h2>
							<strong>Nasza misja</strong>
						</h2>
						
						<p>Istniejemy po to, by <strong>przenosić polskie firmy na wyższy poziom marketingu</strong>. Robimy wszystko by nasza wiedza i umiejętności były na światowym poziomie. </p>
					</article>
				</div>
				
				<div class="o-cols__item">
					
					<article class="o-article o-article--big">
						<h2>
							<strong>Tworzymy:</strong>
						</h2>

						<ul>
							<li>Identyfikacje wizualną</li>
							<li>Zaangażowanie na Facebooku i Instagramie</li>
							<li>Kampanie reklamowe w Google Ads</li>
							<li>Fotografię i filmy promocyjne</li>
							<li>Grafikę reklamową</li>
							<li>Ruch z wyszukiwarki Google</li>
							<li>Serwisy www</li>
						</ul>							
					</article>
				</div>
			</div>
			
		</div>
	</div>
